
<br />
<body>
  <hr>
  <br />
  <center><canvas id="card"></canvas></center>
  <br />
  <hr>
</body>
<%= link_to 'New Deck', new_deck_path, :id => 'newDeck' %>
<br /><br />

<div id="button_left"> &#60;</div>
<div id="button_right">&#62;</div>
<div id="decks_outer">
  <table>
    <tc>
      <th></th>
      <th></th>
      <th></th>
    </tc>
  <% current_card_id = 1%>
  <% i = 0 %>  
  <% @decks.each do |deck| %>
  <tc>
    <canvas class="decks"  id="deck<%= i %>"    style="left: <%= 220 * i %>px;"></canvas>
    <canvas class="show"   id="show<%= i %>"    style="left: <%= 220 * i %>px;"></canvas>
    <canvas class="edit"   id="edit<%= i %>"    style="left: <%= 220 * i %>px;"></canvas>
    <canvas class="destroy"id="destroy<%= i %>" style="left: <%= 220 * i %>px;"></canvas>

    <script>
      var show     = document.getElementById("show<%=i%>");
      var edit     = document.getElementById("edit<%=i%>");
      var destroy  = document.getElementById("destroy<%=i%>");

      var showctx     =    show.getContext('2d');
      var editctx     =    edit.getContext('2d');
      var destroyctx  = destroy.getContext('2d');

      showctx.font = '150pt Calibri';
      showctx.fillStyle = 'black';
      showctx.fillText('S', show.width/3, show.height);
      editctx.font = '150pt Calibri';
      editctx.fillStyle = 'black';
      editctx.fillText('E', edit.width/3, edit.height);
      destroyctx.font = '150pt Calibri';
      destroyctx.fillStyle = 'black';
      destroyctx.fillText('D', destroy.width/3, destroy.height);
      show.onclick = function() {
        window.location = "/decks/<%= deck.id %>";
      }
      edit.onclick = function() {
        window.location = "/decks/<%= deck.id %>/edit";
      }
      destroy.onclick = function() {
        //window.location = "/decks/<%=deck.id%>";
        //<td><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      }
    
      var card    = document.getElementById("card");
      var context = card.getContext('2d');

      context.lineWidth = 1;
      for (var i = 1; i < 10; i++) {
        context.beginPath();
        context.moveTo(0,15*i);
        context.lineTo(300,15*i);
        if (i == 1) {
          context.strokeStyle = '#c6757e';
        } else {
          context.strokeStyle = '#a0d6dd';
        }
        context.stroke();
      }

      var canvas  = document.getElementById("deck<%= i %>");
      var context = canvas.getContext('2d');
      var x = canvas.width / 3;
      var y = canvas.height / 2;
      context.lineWidth = 1;
      for (var i = 1; i < 10; i++) {
        context.beginPath();
        context.moveTo(0,15*i);
        context.lineTo(300,15*i);
        if (i == 1) {
          context.strokeStyle = '#c6757e';
        } else {
          context.strokeStyle = '#a0d6dd';
        }
        context.stroke();
      }
      var title = "<%= deck.title %>";
      context.font = '20pt Calibri';
      context.fillStyle = 'blue';
      context.fillText(title, x, y);
      //context.fillText('S  E  D', x-80, y+60);

      canvas  = document.getElementById("deck<%= i %>");
      context = canvas.getContext('2d');

      canvas.onclick = function() {

        // Start ruby code
        window.decks = new Array();
        "<% Deck.all.each do |d| %>"
          window.decks.push("<%= d.id %>")
        "<% end %>"

        "<% @fcs = deck.flashcards %>"
        window.current_deck_id = "<%= deck.id %>";

        window.flashcards = new Array();
        "<% @fcs.each do |f| %>"
          window.flashcards.push("<%= f.front %>");
          window.flashcards.push("<%= f.back %>");
        "<% end %>"
        // End ruby code

        var curCard;
        if (window.flashcards.length == 0) {
          curCard = "<empty>";
        } else {
          curCard = window.flashcards[0];
        }
        var cardCanvas = document.getElementById("card");
        cardCanvas.width = cardCanvas.width;
        var cardContext = cardCanvas.getContext('2d');
        cardContext.lineWidth = 2;
        for (var i = 1; i < 10; i++) {
          cardContext.beginPath();
          cardContext.moveTo(0,15*i);
          cardContext.lineTo(300,15*i);
          if (i == 1) {
            cardContext.strokeStyle = '#c6757e';
          } else {
            cardContext.strokeStyle = '#a0d6dd';
          }
          cardContext.stroke();
        }
        var x = cardCanvas.width / 3;
        var y = cardCanvas.height / 2;
        cardContext.font = '20pt Calibri';
        cardContext.fillStyle = 'blue';
        cardContext.fillText(curCard, x, y);
        var j = 0;
        for (var i = 0; i < window.decks.length; i++) {
          if (window.current_deck_id == window.decks[i]) {
            $('#deck'+j).css('background-color', 'lightblue');              
          } else {
            $('#deck'+j).css('background-color', 'white');
          }
          j++;
        }
      }
    </script>

    </tc>

    <% i+=1 %>
    <% end %>

  </table>

</div>

<br />
