<h1>Listing flashcards</h1>

<br />

<%= link_to 'New Deck', new_deck_path %>

<br />
<br />

<body>
  <center><canvas id="card"></canvas></center>
    <script>
      var canvas = document.getElementById("card");
      var context = canvas.getContext('2d');
      var x = canvas.width / 4;
      var y = canvas.height / 2;
      context.font = '20pt Calibri';
      context.fillStyle = 'blue';
      context.fillText("current card", x, y);
    </script>
  <br/>
  <hr>
</body>
<div id="decks_outer">
<table>
  <tc>
    <th></th>
    <th></th>
    <th class="destroy"></th>
  </tc>
<% i = 0 %>  
<% @decks.each do |deck| %>
<!--  <b>Title:</b> <%= deck.title %> -->
  <canvas class="decks" id="deck<%= i %>"></canvas>
      <script>
        var canvas = document.getElementById("deck<%= i %>");
        var context = canvas.getContext('2d');
        var x = canvas.width / 4;
        var y = canvas.height / 2;
        var title = "<%= deck.title%>";
        context.font = '20pt Calibri';
        context.fillStyle = 'blue';
        context.fillText(title, x, y);
      </script>
<% i+=1 %>
  <tc>
    <td><%= link_to 'Show', deck %></td>
    <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tc>
<% end %>
</table>
</div>

<br />
